/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
COLORS:
*/
/*
COLORS:
*/
html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #787;
  padding: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*------------------------ header starts ------------------------------------*/
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }
  .logo-box .logo {
    height: 3.5rem; }

/*------------------------ header ends ------------------------------------*/
/*------------------------ text in hero starts ------------------------------------*/
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .text-box .hdPrimary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .text-box .hdPrimary .hdPrimary-main {
      font-size: 5rem;
      display: block;
      letter-spacing: 2.5rem;
      font-weight: 700;
      position: relative;
      animation: fromLeft ease-in-out 1s; }
    .text-box .hdPrimary .hdPrimary-sub {
      font-size: 2rem;
      letter-spacing: 1.2rem;
      display: block;
      animation: fromRight ease-in-out 1s; }
  .text-box .btn {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    animation: fromBottom ease-in-out 1s; }
  .text-box .btn:hover {
    transform: translateY(-0.3 rem);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3); }
  .text-box .btn :active {
    transform: translateY(-0.1 rem); }
  .text-box .btn-white {
    background-color: #fff;
    color: #787;
    font-weight: 700;
    font-size: 2rem; }
  .text-box .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transition: all 1s; }
  .text-box .btn:hover::after {
    transform: scaleX(2) scaleY(2);
    opacity: 0; }
  .text-box .btn-white::after {
    background-color: #fff; }

/*------------------------ text in hero ends ------------------------------------*/
/*------------------------ Animaton Definition ------------------------------------*/
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@media only screen and (min-width: 45em) {
  /*
COLORS:
*/
  html {
    font-size: 72.5%; } }

@media only screen and (min-width: 64.25em) {
  /*
COLORS:
*/
  html {
    font-size: 82.5%; } }
