@import "variables";
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------ header starts ------------------------------------*/
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;

  .logo {
    height: 3.5rem;
  }
}
/*------------------------ header ends ------------------------------------*/
/*------------------------ text in hero starts ------------------------------------*/
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); //To make the div in center position horizontally and vertically, TRANSLATE deducts width and height by 50% and div get center
  text-align: center;
  .hdPrimary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; //to create distance between button and this part

    .hdPrimary-main {
      font-size: 5rem;
      display: block;
      letter-spacing: 2.5rem;
      font-weight: 700;
      position: relative;
      animation: fromLeft ease-in-out 1s;
    }

    .hdPrimary-sub {
      font-size: 2rem;
      letter-spacing: 1.2rem;
      display: block;
      animation: fromRight ease-in-out 1s;
    }
  }
  .btn {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    animation: fromBottom ease-in-out 1s;
  }
  .btn:hover {
    transform: translateY(-0.3 rem);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  }
  .btn :active {
    transform: translateY(-0.1 rem);
  }
  .btn-white {
    background-color: #fff;
    color: #777;
    font-weight: 700;
    font-size: 2rem;
  }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transition: all 1s;
  }
  .btn:hover::after {
    transform: scaleX(2) scaleY(2);
    opacity: 0;
  }
  .btn-white::after {
    background-color: #fff;
  }
}

/*------------------------ text in hero ends ------------------------------------*/
/*------------------------ Animaton Definition ------------------------------------*/

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
