.header {
	height: 85vh;
	background-image: linear-gradient(to right bottom, rgba($colPrimaryLT, 0.8), rgba($colPrimaryDK, 0.8)),
		url(../img/hero-small.jpg);
	/* background-image: linear-gradient(
        175deg,
        rgba($colPrimaryLT, 0.8) 0%,
        rgba($colPrimaryDK, 0.8) 85%,
        $colGreyLT 85%,
      ),
      url(../img/hero.jpg);*/
	@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
		only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
		only screen and (min-width: 112em) {
		background-image: linear-gradient(to right bottom, rgba($colPrimaryLT, 0.8), rgba($colPrimaryDK, 0.8)),
			url(../img/hero.jpg);
	}

	background-size: cover;
	background-position: top;
	//-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

	@supports (clip-path: polygon(0 0)) {
		clip-path: polygon(0 0, 100% 0, 100% 89vh, 0 100%);
		height: 95vh;
	}
	/*
    @include respond(phone){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
    */

	position: relative;
	&_logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}
	&_logo-box_logo {
		height: 3.5rem;
	}
}
