.popup {
	position: fixed;
	height: 100vh;

	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba($colBlack, 0.8);
	z-index: 20000;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
	@include respond(tab-port) {
		position: relative;
		top: 10rem;
		height: auto;
	}

	&:target {
		opacity: 1;
		visibility: visible;
	}
	&:target &_content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
	&_content {
		@include absCenter;
		width: 75%;
		@include respond(tab-land) {
			width: 94%;
		}
		box-shadow: 0 2rem 4rem rgba($colBlack, 0.2);

		// padding: 20rem  40rem;
		background-color: $colWhite;
		border-radius: 3px;
		// z-index: 20001;
		display: table;
		@include respond(tab-port) {
			display: inline;
		}
		//overflow: hidden;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.2);
		transition: all 1s 0.2s;
	}
	&_left {
		width: 33.333%;
		display: table-cell;
		@include respond(tab-port) {
			width: 100%;
			display: inline-block;
			text-align: center;
		}
	}
	&_right {
		width: 66.667%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
		@include respond(tab-port) {
			width: 100%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
		}
	}
	&_img {
		display: block;

		width: 100%;
		@include respond(tab-port) {
			display: inline-block;
			width: 48%;
		}
	}
	&_text {
		font-size: 1.6rem;
		margin-bottom: 4rem;
		column-count: 2;

		column-gap: 4rem;
		column-rule: 1px solid $colGreydk2;
		-webkit-hyphens: auto;
		@include respond(tab-port) {
			column-count: 1;
		}
		hyphens: auto;
	}
	&_close {
		&:link,
		&:visited {
			color: $colGreydk;
			position: absolute;
			top: 2.5rem;

			right: 2.5rem;
			font-size: 5rem;
			text-decoration: none;
			display: inline-block;
			transition: all 0.5s;
			line-height: 1;
			z-index: 2000;
			@include respond(tab-port) {
				top: -5rem;
				color: red;
			}
		}
		&:hover {
			color: $colPrimary;
		}
	}
}
