//COLORS

$colPrimary: #55c57a;
$colPrimaryLT: #7ed56f;
$colPrimaryDK: #28b485;

$colGreydk: #777;
$colGreydk2: #999;
$colGreydk3: #333;

$colGreyLT:#f7f7f7;


$colWhite: #fff; 

$colBlack:#000;



$colSecLT:#ffb900;
$colSecDK: #ff7730;



$colTerLT:#2998ff;
$colTerDK: #5643fa;


//FONT
$dftFontSize:1.6rem;



//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-sm:2rem;
$gutter-horizontal:6rem;