.composition{
    position: relative;
    &_photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($colBlack,.4);
        border-radius: 2px;
        position: absolute;
        z-index: 2;
        transition: all .2s;
        outline-offset: 1rem;        
        &:hover{
            transform: scale(1.5) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($colBlack,.6);
            z-index: 20; 
            outline: 1rem solid $colPrimary;            
        }
        

        &_p1{
            left:0;
            top: -2rem;
        }
        &_p2{
            right: 0;
            top: 0rem;
        }
        &_p3{
            left:20%;
            top: 10rem;
        }
    }
    &:hover &_photo:not(:hover){
        transform: scale(.9);
    } 
}